# Build artifacts
target/
build/
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.log

# IDE files
.idea/
.classpath
.project
.settings/
*.iml
*.iws
*.ipr
.vscode/

# Maven-specific
.mvn/wrapper/maven-wrapper.jar
mvnw
mvnw.cmd

# Gradle-specific
.gradle/
gradlew
gradlew.bat

# Operating System files
.DS_Store
Thumbs.db

# Other
# Add any other specific files or directories to ignore